<div class="container" ng-hide="home.data.data">
  <div class="upload-instructions six columns">
    <h2>iPhone</h2>
    <ol>
      <li>Select your desired chat</li>
      <li>Tap on their name at the top of the screen</li>
      <li>Scroll down </li>
      <li>Select 'Export Chat'</li>
      <li><strong>Without Media</strong></li>
      <li>Email the chat to yourself and upload below</li>
    </ol>
  </div>
  <div class="upload-instructions six columns">
    <h2>Android</h2>
    <ol>
      <li>Select your desired chat</li>
      <li>Pick menu from top right corner - 3 dots</li>
      <li>Choose 'More'</li>
      <li>Email Chat</li>
      <li><strong>Without Media</strong></li>
      <li>Send the chat to yourself and upload below</li>
    </ol>
  </div>
</div>


<div class="container" ng-show="home.data.data">
  <div class="results six columns">
    <ul>
      <h3 class="name">{{ home.data.data.personOne[0] }}</h3>
      <li class="number">over a total of {{ home.data.data.personOne[1] }} messages</li>
      <li class="positive">positive: {{ home.data.data.personOne[2] }}%</li>
      <li class="neutral">neutral: {{ home.data.data.personOne[4] }}%</li>
      <li class="negative">negative: {{ home.data.data.personOne[3] }}%</li>
    </ul>
  </div>
  <div class="results six columns">
    <ul>
      <h3 class="name">{{ home.data.data.personTwo[0] }}</h3>
      <li class="number">over a total of {{ home.data.data.personTwo[1] }} messages</li>
      <li class="positive">positive: {{ home.data.data.personTwo[2] }}%</li>
      <li class="neutral">neutral: {{ home.data.data.personTwo[4] }}%</li>
      <li class="negative">negative: {{ home.data.data.personTwo[3] }}%</li>
    </ul>
  </div>
</div>

<form name="home.uploadForm" ng-submit="home.upload()" class="uploader">
  <button type="file" ngf-select="" ngf-select ng-model="home.file" name="file" ngf-max-size="20MB">1: Choose!</button>
  <button type="submit">2: Upload!</button>
</form>
